*.gcda
*.gcno
*~
ABOUT-NLS
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/mdate-sh
build-aux/missing
build-aux/texinfo.tex
config.h
config.h.in
config.log
config.status
configure
doc/Makefile
doc/Makefile.gdoc
doc/Makefile.in
doc/coverage/
doc/cyclo/Makefile
doc/cyclo/Makefile.in
doc/cyclo/cyclo-gss.html
doc/gss.1
doc/gss.aux
doc/gss.cp
doc/gss.cps
doc/gss.dvi
doc/gss.fn
doc/gss.fns
doc/gss.html
doc/gss.info
doc/gss.ky
doc/gss.log
doc/gss.pdf
doc/gss.pg
doc/gss.ps
doc/gss.toc
doc/gss.tp
doc/gss.vr
doc/man/
doc/reference/Makefile
doc/reference/Makefile.in
doc/reference/gss-decl-list.txt
doc/reference/gss-decl-list.txt.bak
doc/reference/gss-decl.txt
doc/reference/gss-decl.txt.bak
doc/reference/gss-overrides.txt
doc/reference/gss-sections.txt
doc/reference/gss-undeclared.txt
doc/reference/gss-undocumented.txt
doc/reference/gss-unused.txt
doc/reference/gss.args
doc/reference/gss.hierarchy
doc/reference/gss.interfaces
doc/reference/gss.pdf
doc/reference/gss.prerequisites
doc/reference/gss.signals
doc/reference/gss.types
doc/reference/html-build.stamp
doc/reference/html.stamp
doc/reference/html/
doc/reference/pdf-build.stamp
doc/reference/pdf.stamp
doc/reference/scan-build.stamp
doc/reference/setup-build.stamp
doc/reference/sgml-build.stamp
doc/reference/sgml.stamp
doc/reference/tmpl-build.stamp
doc/reference/tmpl.stamp
doc/reference/tmpl/
doc/reference/version.xml
doc/reference/xml/
doc/stamp-vti
doc/texi/
doc/version.texi
gl/.deps/
gl/.libs/
gl/Makefile
gl/Makefile.in
gl/TAGS
gl/dummy.lo
gl/dummy.o
gl/libgnu.la
gss-*.tar.gz
gss-*.tar.gz.sig
gss.pc
lib/.deps/
lib/.libs/
lib/Makefile
lib/Makefile.in
lib/TAGS
lib/asn1.lo
lib/asn1.o
lib/context.lo
lib/context.o
lib/cred.lo
lib/cred.o
lib/error.lo
lib/error.o
lib/ext.lo
lib/ext.o
lib/gl/.deps/
lib/gl/.libs/
lib/gl/Makefile
lib/gl/Makefile.in
lib/gl/TAGS
lib/gl/arg-nonnull.h
lib/gl/c++defs.h
lib/gl/dummy.lo
lib/gl/dummy.o
lib/gl/libgnu.la
lib/gl/link-warning.h
lib/gl/string.h
lib/gl/warn-on-use.h
lib/headers/gss.h
lib/krb5/.deps/
lib/krb5/.libs/
lib/krb5/Makefile
lib/krb5/Makefile.in
lib/krb5/TAGS
lib/krb5/checksum.lo
lib/krb5/checksum.o
lib/krb5/context.lo
lib/krb5/context.o
lib/krb5/cred.lo
lib/krb5/cred.o
lib/krb5/error.lo
lib/krb5/error.o
lib/krb5/libgss-shishi.la
lib/krb5/msg.lo
lib/krb5/msg.o
lib/krb5/name.lo
lib/krb5/name.o
lib/krb5/oid.lo
lib/krb5/oid.o
lib/krb5/utils.lo
lib/krb5/utils.o
lib/libgss.la
lib/meta.lo
lib/meta.o
lib/misc.lo
lib/misc.o
lib/msg.lo
lib/msg.o
lib/name.lo
lib/name.o
lib/obsolete.lo
lib/obsolete.o
lib/oid.lo
lib/oid.o
lib/saslname.lo
lib/saslname.o
lib/version.lo
lib/version.o
libtool
m4/codeset.m4
m4/gettext.m4
m4/glibc2.m4
m4/glibc21.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intl.m4
m4/intldir.m4
m4/intlmacosx.m4
m4/intmax.m4
m4/inttypes-pri.m4
m4/inttypes_h.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/libtool.m4
m4/lock.m4
m4/longlong.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/nls.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/size_max.m4
m4/stdint_h.m4
m4/uintmax_t.m4
m4/visibility.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4
po/*.gmo
po/*.po
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.gmo
po/en@boldquot.header
po/en@boldquot.insert-header
po/en@boldquot.po
po/en@quot.gmo
po/en@quot.header
po/en@quot.insert-header
po/en@quot.po
po/gss.pot
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/TAGS
src/gl/.deps/
src/gl/.libs/
src/gl/Makefile
src/gl/Makefile.in
src/gl/TAGS
src/gl/arg-nonnull.h
src/gl/c++defs.h
src/gl/getopt.h
src/gl/getopt.lo
src/gl/getopt.o
src/gl/getopt1.lo
src/gl/getopt1.o
src/gl/libgnu.la
src/gl/link-warning.h
src/gl/progname.lo
src/gl/progname.o
src/gl/string.h
src/gl/tests/.deps/
src/gl/tests/Makefile
src/gl/tests/Makefile.in
src/gl/tests/TAGS
src/gl/tests/alloca.h
src/gl/tests/arg-nonnull.h
src/gl/tests/c++defs.h
src/gl/tests/fcntl.h
src/gl/tests/libtests.a
src/gl/tests/link-warning.h
src/gl/tests/malloca.o
src/gl/tests/stdlib.h
src/gl/tests/sys/
src/gl/tests/test-alloca-opt
src/gl/tests/test-alloca-opt.o
src/gl/tests/test-binary-io
src/gl/tests/test-binary-io.o
src/gl/tests/test-dup2
src/gl/tests/test-dup2.o
src/gl/tests/test-environ
src/gl/tests/test-environ.o
src/gl/tests/test-errno
src/gl/tests/test-errno.o
src/gl/tests/test-fcntl-h
src/gl/tests/test-fcntl-h.o
src/gl/tests/test-getopt
src/gl/tests/test-getopt.o
src/gl/tests/test-lstat
src/gl/tests/test-lstat.o
src/gl/tests/test-malloca
src/gl/tests/test-malloca.o
src/gl/tests/test-open
src/gl/tests/test-open.o
src/gl/tests/test-setenv
src/gl/tests/test-setenv.o
src/gl/tests/test-stat
src/gl/tests/test-stat.o
src/gl/tests/test-stdbool
src/gl/tests/test-stdbool.o
src/gl/tests/test-stddef
src/gl/tests/test-stddef.o
src/gl/tests/test-stdint
src/gl/tests/test-stdint.o
src/gl/tests/test-stdlib
src/gl/tests/test-stdlib.o
src/gl/tests/test-symlink
src/gl/tests/test-symlink.o
src/gl/tests/test-sys_stat
src/gl/tests/test-sys_stat.o
src/gl/tests/test-time
src/gl/tests/test-time.o
src/gl/tests/test-unistd
src/gl/tests/test-unistd.o
src/gl/tests/test-unsetenv
src/gl/tests/test-unsetenv.o
src/gl/tests/test-version-etc
src/gl/tests/test-version-etc.o
src/gl/tests/test-wchar
src/gl/tests/test-wchar.o
src/gl/tests/time.h
src/gl/tests/version-etc-fsf.o
src/gl/tests/warn-on-use.h
src/gl/tests/wchar.h
src/gl/unistd.h
src/gl/version-etc.lo
src/gl/version-etc.o
src/gl/warn-on-use.h
src/gss
src/gss.o
src/gss_cmd.c
src/gss_cmd.h
src/libcmd-gss.la
src/libcmd_gss_la-gss_cmd.lo
src/libcmd_gss_la-gss_cmd.o
stamp-h1
tests/.deps/
tests/Makefile
tests/Makefile.in
tests/TAGS
tests/basic
tests/basic.o
tests/krb5context
tests/krb5context.o
tests/saslname
tests/saslname.o
