<!doctype book PUBLIC "-//Davenport//DTD DocBook V3.0//EN" [
<!ENTITY gss-gss SYSTEM "gss.sgml">
<!ENTITY gss-api SYSTEM "api.sgml">
<!ENTITY gss-ext SYSTEM "ext.sgml">
<!ENTITY gss-krb5 SYSTEM "krb5.sgml">
]>
<book id="index">
  <bookinfo>
    <title>
      GNU Generic Security Service (GSS) Library API Reference Manual
    </title>
  </bookinfo>

  <chapter>
    <title>
      GNU Generic Security Service (GSS) Library API Reference Manual
    </title>

    <para>
      GSS is an implementation of the Generic Security Service
      Application Program Interface (GSS-API).  GSS-API is used by
      network servers to provide security services, e.g., to
      authenticate SMTP/IMAP clients against SMTP/IMAP servers.  GSS
      consists of a library and a manual.
    </para>

    <para>
      GSS is developed for the GNU/Linux system, but runs on over 20
      platforms including most major Unix platforms and Windows, and
      many kind of devices including iPAQ handhelds and S/390
      mainframes.
    </para>

    <para>
      GSS is a GNU project, and is licensed under the GNU General
      Public License.
    </para>

    &gss-gss;
    &gss-api;
    &gss-ext;
    &gss-krb5;
  </chapter>
</book>
